<template name="playerSubmit">
<form class="main">
<div class="control-group">
<label class="control-label" for="name">Name</label>
<div class="controls">
<input name="name" type="text" value="" placeholder="Player Name" required/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="playedFor">Played for which Country </label>
<div class="controls">
<input name="playedFor" type="text" value="" placeholder="Name of country" required/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="imgUrl">Enter Image Url</label>
<div class="controls">
<input name="imgUrl" type="text" value="" placeholder="Image source url" required/>
</div>
</div>
<div class="control-group">
<div class="controls">
<input type="submit" value="Submit" class="btn btn-primary"/>
</div>
</div>
</form>
</template>